{% extends 'modal.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% set modal_name = 'problems' %}
{% set modal_title %}
    <i class="fas fa-exclamation-triangle problems mr-1"></i> Что не так?
{% endset %}
{% set modal_save_label = 'Отправить' %}

{% set modal_body_style = 'pb-1' %}

{% set var_narrow = 'isProblemsNarrow' %}

{% block modal_body %}
    <div class="row mh-0 br-word">
        <div ng-show="problems.word" class="col-xs-12" ng-class="{'col-sm-6': problems.full()}">
            <div>Слово <strong>{{'{{problems.word.word}}'}}</strong>:</div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="problems.word.dislike">
                    Не нравится
                </label>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="problems.word.withTypo" ng-change="focusTypo()">
                    Ошибка/опечатка...
                </label>
                {{ lm.info('Правильное слово может отсутствовать в игре.') }}
            </div>

            <div class="form-group" ng-if="problems.word.withTypo">
                <input type="text" id="problemsWordTypo" placeholder="ваш вариант" class="form-control" maxlength="{{ word_max_length }}" required ng-model="problems.word.typo" />
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="problems.word.withDuplicate" ng-change="focusDuplicate()">
                    Дублирует слово...
                </label>
                {{ lm.info('Главное слово должно присутствовать в игре.') }}
            </div>

            <div class="form-group" ng-if="problems.word.withDuplicate">
                <input type="text" id="problemsWordDuplicate" placeholder="главное слово" class="form-control" maxlength="{{ word_max_length }}" required ng-model="problems.word.duplicate" />
            </div>

            {% if auth.user.is_mature %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="problems.word.mature">
                        Не для детей (16+)
                    </label>
                </div>
            {% endif %}
        </div>

        <div ng-show="problems.association" class="col-xs-12" ng-class="{'col-sm-6': problems.full()}">
            <div>Ассоциация <strong>{% if association %}{{ lm.association(association, null, true) }}{% else %}{{'{{problems.association.label}}'}}{% endif %}</strong>:</div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="problems.association.dislike">
                    Не нравится
                </label>
            </div>

            {% if auth.user.is_mature %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="problems.association.mature">
                        Не для детей (16+)
                    </label>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
