{% extends 'modal.twig' %}

{% import 'main/local_macros.twig' as lm %}

{% set modal_name = 'override' %}
{% set modal_title = 'Исправление слова' %}
{% set modal_save_label = 'Отправить' %}

{% set modal_body_style = 'pb-1' %}

{% block modal_body %}
    <div class="row mh-0 br-word">
        <div class="col-xs-12 col-sm-6">
            <div>Слово <strong>{{'{{override.word}}'}}</strong>:</div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_scope">
                    Видимость...
                </label>
            </div>

            <div class="form-group ml-3 check-inside" ng-if="override.with_scope">
                <div class="radio" ng-repeat="scope in scopes">
                    <label>
                        <input type="radio" ng-model="override.scope" value="{{ '{{scope.id}}' }}"> {{ '{{scope.name}}' }}
                    </label>
                </div>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_severity">
                    Жестокость...
                </label>
            </div>

            <div class="form-group ml-3 check-inside" ng-if="override.with_severity">
                <div class="radio" ng-repeat="severity in severities">
                    <label>
                        <input type="radio" ng-model="override.severity" value="{{ '{{severity.id}}' }}"> {{ '{{severity.name}}' }}
                    </label>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_word_correction" ng-change="focusWordCorrection()">
                    Исправить слово...
                </label>
            </div>

            <div class="form-group" ng-if="override.with_word_correction">
                <input type="text" id="overrideWordCorrection" placeholder="правильное слово" class="form-control" maxlength="{{ word_max_length }}" required ng-model="override.word_correction" />
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="override.with_pos_correction">
                    Исправить части речи...
                </label>
            </div>

            <div class="form-group ml-3 check-inside" ng-if="override.with_pos_correction">
                <span class="hgap-2" ng-repeat="pos in override.pos_correction">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-checked="pos.selected" ng-model="pos.selected">
                        {{ '{{pos.label}}' }}
                    </label>
                </span>
            </div>
        </div>
    </div>
{% endblock %}
