{% extends 'modal.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/local_macros.twig' as lm %}

{% set modal_name = 'relations' %}
{% set modal_title = 'Связи' %}
{% set submittable = false %}

{% block modal_body %}
    <div class="panel-body--nopad">
        <table id="relations-table" class="table mb-1">
            <thead>
                <tr>
                    <th><i class="fas fa-fist-raised" title="Сильная" data-toggle="tooltip"></i></th>
                    <th>Тип</th>
                    <th>Слово</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(rKey, r) in relationData.relations">
                    <form ng-submit="saveRelation(rKey)" ng-attr-id="relationEditForm{{ '{{rKey}}' }}" name="relationEditForm{{ '{{rKey}}' }}">
                        <td class="vcenter" ng-show="r.state.editing">
                            <input type="checkbox" ng-model="r.primary">
                        </td>

                        <td class="vcenter" ng-show="r.state.editing">
                            <select class="form-control" ng-model="r.type_id" ng-options="value.id as value.name for (key, value) in relationTypes"></select>
                        </td>

                        <td class="vcenter" ng-show="r.state.editing">
                            <input type="text" class="form-control" ng-model="r.main_word" required />
                        </td>

                        <td class="vcenter flex" ng-show="r.state.editing">
                            <button type="submit" ng-click="saveRelation(rKey)" class="btn btn-success modal-button--compact" ng-disabled="{{ full_check }} || r.state.saving"><i class="fas fa-spinner fa-spin modal-button-spinner" ng-show="r.state.saving"></i><span ng-hide="r.state.saving"><i class="fas fa-check"></i></span></button>

                            <button class="btn btn-default modal-button--compact ml-1" ng-disabled="{{ full_check }} || r.state.saving" ng-click="cancelEditRelation(rKey)"><i class="fas fa-times"></i></button>
                        </td>
                    </form>

                    <td class="vcenter" ng-hide="r.state.editing">
                        <span ng-if="r.primary"><i class="fas fa-check"></i></span>
                    </td>

                    <td class="vcenter" ng-hide="r.state.editing">
                        {{ '{{r.localized_type}}' }}
                    </td>

                    <td class="vcenter br-word" ng-hide="r.state.editing">
                        {{ '{{r.main_word}}' }}
                    </td>

                    <td class="vcenter flex" ng-hide="r.state.editing">
                        <button class="btn btn-warning modal-button--compact" ng-disabled="{{ full_check }} || relationData.state.editing" ng-click="editRelation(rKey)"><i class="fas fa-pencil-alt"></i></button>

                        {% if can('word_relations', 'delete') %}
                            <button class="btn btn-danger modal-button--compact ml-1" ng-disabled="{{ full_check }} || relationData.state.editing" ng-click="deleteRelation(rKey)"><i class="fas fa-spinner fa-spin modal-button-spinner" ng-show="r.state.deleting"></i><span ng-hide="r.state.deleting"><i class="fas fa-trash"></i></span></button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <form ng-submit="saveNewRelation()">
                        <td class="center vcenter">
                            <input type="checkbox" ng-disabled="relationData.state.editing" ng-model="newRelation.primary">
                        </td>

                        <td>
                            <select class="form-control" ng-disabled="relationData.state.editing" ng-model="newRelation.type_id" ng-options="value.id as value.name for (key, value) in relationTypes"></select>
                        </td>

                        <td>
                            <input type="text" class="form-control" ng-disabled="relationData.state.editing" ng-model="newRelation.main_word" required />
                        </td>

                        <td class="vcenter">
                            <button type="submit" class="btn btn-success modal-button modal-button--compact" ng-disabled="{{ full_check }} || relationData.state.editing"><i class="fas fa-spinner fa-spin modal-button-spinner" ng-show="newRelationSaving"></i><span ng-hide="newRelationSaving"><i class="fas fa-plus"></i></span></button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
