{% extends 'modal.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/local_macros.twig' as lm %}

{% set modal_name = 'relations' %}
{% set modal_title = 'Связи' %}
{% set submittable = false %}

{% block modal_body %}
    <div class="panel-body--nopad table-responsive">
        <table id="relations-table" class="table mb-1">
            <thead>
                <tr>
                    <th><i class="fas fa-fist-raised" title="Сильная" data-toggle="tooltip"></i></th>
                    <th>Тип</th>
                    <th>Слово</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for relation in word.relations %}
                    {% set modelBase = 'relationData.relations[' ~ (loop.index - 1) ~ ']' %}
                    {% set inlineForm = false %}
                    <tr>
                        <td class="vcenter">
                            {% if inlineForm %}
                                <input type="checkbox" id="relation{{ relation.id }}Primary" ng-model="{{ modelBase }}.primary">
                            {% else %}
                                <span ng-if="{{ modelBase }}.primary"><i class="fas fa-check"></i></span>
                            {% endif %}
                        </td>

                        <td class="vcenter">
                            {% if inlineForm %}
                                <select class="form-control" ng-model="{{ modelBase }}.type_id" id="relation{{ relation.id }}Type" ng-options="value.id as value.name for (key, value) in relationTypes"></select>
                            {% else %}
                                {{ '{{' ~ modelBase ~ '.type}}' }}
                            {% endif %}
                        </td>

                        <td class="vcenter">
                            {% if inlineForm %}
                                <input type="text" id="relation{{ relation.id }}MainWord" class="form-control" ng-model="{{ modelBase }}.main_word" maxlength="{{ word_max_length }}" required />
                            {% else %}
                                <span class="ellipsis w-200">{{ '{{' ~ modelBase ~ '.main_word}}' }}</span>
                            {% endif %}
                        </td>

                        <td class="vcenter flex">
                            <button type="submit" class="btn btn-warning modal-button--compact" ng-disabled="modalSaving"><i class="fas fa-spinner fa-lg fa-spin modal-button-spinner" ng-show="{{ modelBase }}.state.saving"></i><span ng-hide="{{ modelBase }}.state.saving"><i class="fas fa-pencil-alt"></i></span></button>

                            {% if can('word_relations', 'delete') %}
                                <button class="btn btn-danger modal-button--compact ml-1" ng-disabled="modalSaving" ng-click="deleteRelation({{ loop.index - 1 }})"><i class="fas fa-spinner fa-lg fa-spin modal-button-spinner" ng-show="{{ modelBase }}.state.deleting"></i><span ng-hide="{{ modelBase }}.state.deleting"><i class="fas fa-trash"></i></span></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <form id="newRelationForm" method="post">
                        <td class="center vcenter">
                            <input type="checkbox" id="newRelationPrimary" ng-model="newRelation.primary">
                        </td>

                        <td>
                            <select class="form-control" ng-model="newRelation.type_id" id="newRelationType" ng-options="value.id as value.name for (key, value) in relationTypes"></select>
                        </td>

                        <td>
                            <input type="text" id="newRelationMainWord" class="form-control" ng-model="newRelation.main_word" maxlength="{{ word_max_length }}" required />
                        </td>

                        <td class="vcenter">
                            <button type="submit" class="btn btn-success modal-button modal-button--compact" ng-disabled="modalSaving"><i class="fas fa-spinner fa-lg fa-spin modal-button-spinner" ng-show="newRelationSaving"></i><span ng-hide="newRelationSaving"><i class="fas fa-plus"></i></span></button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
    {#<div class="mb-2" ng-if="relationData.relations.length == 0">
        {% set handSign = '<i class="far fa-hand-point-down dendro-color"></i>' %}
        <p>У слова <strong>{{'{{relationData.word}}'}}</strong> пока нет связей.</p>
        <p>{{ handSign|raw }} Добавьте новую {{ handSign|raw }}</p>
    </div>#}
{% endblock %}
