{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% set is_moderator = can('associations', 'read') %}

{% set word_upper = word.full_display_name|upper %}
{% set title = word_upper ~ ' - Слова' %}

{% block content %}
    <div class="panel panel-primary">
        {{ lm.panel_header(_context, word_upper, {
            'breadcrumbs': [
                { 'url': path_for('main.words'), 'text': 'Слова' }
            ]
        }) }}

        <div class="panel-body">
            <p class="flex flex-wrap flex-h-gap-2 flex-v-gap-1">
                <span class="label label-default" title="Язык: {{ word.language.name }}" data-toggle="tooltip">{{ word.language.name|lower }}</span>

                {% if word.primaryRelation %}
                    <span class="label label-primary" title="{{ translate(word.primaryRelation.type.name) }} слова {{ word.primaryRelation.mainWord.word|upper }}" data-toggle="tooltip"><i class="fas fa-angle-up"></i> {{ word.primaryRelation.mainWord.word }}</span>

                    {% if word.mainWord.id != word.canonical.id %}
                        <span class="label label-primary" title="Каноническое слово" data-toggle="tooltip"><i class="fas fa-angle-double-up"></i> {{ word.canonical.word }}</span>
                    {% endif %}
                {% endif %}

                {% set scopeLock = word.hasScopeOverride ? '<i class="fas fa-lock"></i> ' : '' %}

                <span class="label {{ lm.scope_class(word) }}">
                    {% if word.isDisabled %}
                        {{ scopeLock|raw }}отключено
                    {% elseif word.isInactive %}
                        {{ scopeLock|raw }}неактивное
                    {% elseif word.isPublic %}
                        <i class="fas {{ word.hasScopeOverride ? 'fa-lock' : 'fa-check' }}"></i> публичное
                    {% elseif word.isCommon %}
                        <i class="fas {{ word.hasScopeOverride ? 'fa-lock' : 'fa-check-double' }}"></i> общее
                    {% else %}
                        {{ scopeLock|raw }}личное
                    {% endif %}
                </span>

                {% set severityLock = word.hasSeverityOverride ? '<i class="fas fa-lock"></i> ' : '' %}

                {% if word.isOffending %}
                    <span class="label label-warning" title="Неприятное или оскорбительное" data-toggle="tooltip">{{ severityLock|raw }}🤢</span>
                {% elseif word.isMature %}
                    <span class="label label-danger" title="Для взрослых" data-toggle="tooltip">{{ severityLock|raw }}🤬</span>
                {% else %}
                    <span class="label label-success" title="Нейтральное — безопасно для детей" data-toggle="tooltip"><i class="fas {{ word.hasSeverityOverride ? 'fa-lock' : 'fa-check' }}"></i> 👶</span>
                {% endif %}

                {% if word.dict_word %}
                    {% set dw = word.dict_word %}

                    {% if dw.is_valid %}
                        <span class="label label-success" title="Есть в словаре" data-toggle="tooltip"><i class="fas fa-check"></i> словарь</span>
                    {% endif %}
                {% endif %}

                {% if definition %}
                    <span class="label label-success" title="Есть определение" data-toggle="tooltip"><i class="fas fa-check"></i> определение</span>
                {% endif %}

                {% for pos in word.partsOfSpeech %}
                    {% include 'components/part_of_speech.twig' with { 'pos': pos, 'is_override': word.hasPartsOfSpeechOverride } only %}
                {% endfor %}

                {% if word.approved_associations.any %}
                    <span class="label label-success" title="Общие ассоциации" data-toggle="tooltip"><i class="fas fa-thumbs-up"></i> {{ word.approved_associations.count }}</span>
                {% endif %}

                {% if word.dislikes.any %}
                    <span class="label label-danger" title="Не нравится" data-toggle="tooltip"><i class="fas fa-thumbs-down"></i> {{ word.dislikes.count }}</span>
                {% endif %}
            </p>

            {% if word.typo_by_me %}
                <div class="quote br-word mt-3">
                    <div class="quote-body">
                        <p>Оригинальное слово <strong>{{ word.word }}</strong> исправлено вами на слово <strong>{{ word.typo_by_me }}</strong>.</p>
                        <p>Это исправление видите <strong>только вы</strong>.</p>
                    </div>
                </div>
            {% endif %}

            {% if word.duplicate_by_me %}
                <p class="mt-3 br-word">Вы отметили, что слово <strong>{{ word.word }}</strong> дублирует слово {{ lm.word(word.duplicate_by_me) }}.</p>
            {% endif %}

            {% if definition %}
                <div class="mt-3">
                    <article>
                        {% for def_entry in definition.entries %}
                            <p class="br-word"><strong>{{ definition.word.word|upper }}</strong>{% if definition.entries|length > 1 %}<sup>{{ loop.index }}</sup>{% endif %}{% if def_entry.partOfSpeech %} <i class="gray-9 ml-1">{% include 'components/part_of_speech.twig' with { 'pos': def_entry.partOfSpeech, 'bare': true, 'short': true, 'lang': definition.language.code } only %}</i>{% endif %}</p>

                            {% if def_entry.definitions|length == 1 %}
                                <p>{{ def_entry.definitions[0] }}</p>
                            {% else %}
                                <ol{% if loop.last %} class="mb-0"{% endif %}>
                                    {% for def in def_entry.definitions %}
                                        <li>{{ def }}</li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        {% endfor %}
                    </article>
                </div>
            {% endif %}

            {% if auth.user %}
                <div class="mt-3 flex flex-wrap flex-gap-2">
                    <button ng-click="problemsDialog()" class="btn btn-default"><i class="fas fa-exclamation-triangle danger-color mr-1"></i> Что-то не так!</button>

                    {% if is_moderator %}
                        <button ng-click="overrideDialog()" class="btn btn-default"><i class="fas fa-wrench mr-1"></i> Исправить</button>

                        <button ng-click="relationsDialog()" class="btn btn-default"><i class="fas fa-link action-color mr-1"></i> Связи</button>

                        <button ng-click="recount()" class="btn btn-default"><i class="fas fa-sync-alt dendro-color mr-1"></i> Пересчитать</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="panel-footer">
            <i class="fas fa-info-circle mr-0-5"></i> <a href="http://gramota.ru/slovari/dic/?word={{ word.word|url_encode }}&all=x" class="mr-2">Грамота.ру</a> <i class="fas fa-info-circle mr-0-5"></i> <a href="https://ru.wiktionary.org/wiki/{{ word.word|url_encode }}" class="mr-2">Викисловарь</a> <i class="fas fa-info-circle mr-0-5"></i> <a href="https://www.google.com/search?q=define:{{ word.word|url_encode }}">Google</a>
        </div>
    </div>

    {% if word.approved_associations.any or word.not_approved_associations.any or is_moderator %}
        <div class="panel-secondary-heading">Ассоциации</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                <div class="flex flex-v flex-gap-3">
                    {% if word.approved_associations.any %}
                        <div>
                            <p class="b">Общие ({{ word.approved_associations.count }}):</p>

                            {% include 'components/flat_association_list.twig' with { 'associations': word.approved_visible_associations, 'word': word, 'headless': true, 'show_locks': is_moderator } %}

                            {% if approved_invisible_associations_str %}
                                <p>{{ approved_invisible_associations_str }}.</p>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if word.not_approved_associations.any %}
                        <div>
                            <p class="b">Личные ({{ word.not_approved_associations.count }}):</p>

                            {% include 'components/flat_association_list.twig' with { 'associations': word.not_approved_visible_associations, 'word': word, 'headless': true, 'show_locks': is_moderator } %}

                            {% if not_approved_invisible_associations_str %}
                                <p>{{ not_approved_invisible_associations_str }}.</p>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if is_moderator and word.disabled_associations.any %}
                        <div>
                            <p class="b">Отключенные ({{ word.disabled_associations.count }}):</p>

                            {% include 'components/flat_association_list.twig' with { 'associations': word.disabled_associations, 'word': word, 'headless': true, 'show_locks': is_moderator } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if is_moderator %}
        <div class="panel-secondary-heading">Агрегированные ассоциации</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                <div class="flex flex-v flex-gap-3">
                    {% if word.aggregatedAssociations.fuzzyPublic.any %}
                        <div>
                            <p class="b">Общие ({{ word.aggregatedAssociations.fuzzyPublic.count }}):</p>

                            {% include 'components/word_association_list.twig' with { 'associations': word.aggregatedAssociations.fuzzyPublic, 'word': word } %}
                        </div>
                    {% endif %}

                    {% if word.aggregatedAssociations.private.any %}
                        <div>
                            <p class="b">Личные ({{ word.aggregatedAssociations.private.count }}):</p>

                            {% include 'components/word_association_list.twig' with { 'associations': word.aggregatedAssociations.private, 'word': word } %}
                        </div>
                    {% endif %}

                    {% if word.aggregatedAssociations.fuzzyDisabled.any %}
                        <div>
                            <p class="b">Отключенные ({{ word.aggregatedAssociations.fuzzyDisabled.count }}):</p>

                            {% include 'components/word_association_list.twig' with { 'associations': word.aggregatedAssociations.fuzzyDisabled, 'word': word } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if is_moderator and word.allRelations|length > 0 %}
        <div class="panel-secondary-heading">Связи</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                {% if word.mainWord %}
                    <div class="vgap-3">
                        <p>
                            <strong>Цепь главных слов:</strong>

                            {{ word.word }} &#x2192;

                            {% for mainWord in word.mainChain %}
                                {% if not loop.first %}&#x2192;{% endif %}
                                {{ lm.word(mainWord) }} ({{ loop.index }})
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}

                {% if word.relations|length > 0 %}
                    <div class="vgap-3">
                        <p class="b">Прямые связи ({{ word.relations.count }}):</p>

                        <ul class="mb-0">
                            {% for relation in word.relations %}
                                <li>{% if relation.isPrimary %}<i class="fas fa-fist-raised action-color" title="Сильная связь" data-toggle="tooltip"></i> {% endif %}<em>{{ translate(relation.type.name) }}</em> слова {{ lm.word(relation.mainWord) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if word.counterRelations|length > 0 %}
                    <div class="vgap-3">
                        <p class="b">Обратные связи ({{ word.counterRelations.count }}):</p>

                        <ul class="mb-0">
                            {% for relation in word.counterRelations %}
                                <li>{% if relation.isPrimary %}<i class="fas fa-fist-raised action-color" title="Сильная связь" data-toggle="tooltip"></i> {% endif %}{{ lm.word(relation.word) }}: <em>{{ translate(relation.type.name) }}</em> слова {{ lm.word(relation.mainWord) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="panel-secondary-heading">Происхождение</div>
    <div class="panel panel-secondary">
        <div class="panel-body">
            <p>{{ lm.genderize(word.creator, ['Добавил/а', 'Добавил', 'Добавила']) }} {% include 'components/user.twig' with { 'user': word.creator, 'full': true } %} ({{ gm.moment_local(word.created_at_iso) }})</p>

            {% if is_moderator %}
                {% if word.hasDifferentOriginalUtterance %}
                    <p>Оригинальное произношение: <strong>{{ word.originalUtterance }}</strong></p>
                {% endif %}

                {% if word.hasDifferentOriginalWord %}
                    <p>Оригинальное слово: <strong>{{ word.originalWord }}</strong></p>
                {% endif %}
            {% endif %}

            {% if word.origin_chain.any %}
                <p>Цепь ассоциаций, которая привела к добавлению:</p>
                <p class="br-word">
                    {% for meta_assoc in word.origin_chain %}
                        {% if loop.first %}
                            {{ lm.word(meta_assoc.toWord) }}
                        {% endif %}

                        {% include 'components/association.twig' with {
                            'association': meta_assoc.association,
                            'short': true,
                            'reversed': true
                        } only %}

                        {% if meta_assoc.user %}
                            {% include 'components/user.twig' with { 'user': meta_assoc.user } %}
                        {% endif %}

                        {{ lm.word(meta_assoc.fromWord) }}
                    {% endfor %}
                </p>
            {% else %}
                <p class="i">Неизвестно, как возникло это слово.</p>
            {% endif %}
        </div>
    </div>

    {% if is_moderator %}
        {% if word.feedbacks|length > 0 %}
            <div class="panel-secondary-heading">Отзывы</div>
            <div class="panel panel-secondary">
                <div class="panel-body table-responsive">
                    <table id="feedbacks-table" class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Не нравится</th>
                                <th>Опечатка</th>
                                <th>Дублирует</th>
                                <th>16+</th>
                                <th>Дата</th>
                                <th>Автор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in word.feedbacks.sort %}
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>{% if feedback.isDisliked %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{% if feedback.hasTypo %}{{ feedback.typo }}{% endif %}</td>
                                    <td>{% if feedback.hasDuplicate %}{{ lm.word(feedback.duplicate) }}{% endif %}</td>
                                    <td>{% if feedback.isMature %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{{ gm.moment_local(feedback.updated_at_iso) }}</td>
                                    <td>{% include 'components/user.twig' with { 'user': feedback.creator } %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if word.overrides|length > 0 %}
            <div class="panel-secondary-heading">Исправления</div>
            <div class="panel panel-secondary">
                <div class="panel-body table-responsive">
                    <table id="overrides-table" class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Видимость</th>
                                <th>Жестокость</th>
                                <th>Исправление</th>
                                <th>Части речи</th>
                                <th>Дата</th>
                                <th>Автор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for override in word.overrides.sort %}
                                <tr>
                                    <td>{{ override.id }}</td>
                                    <td>{% if override.hasScope %}{{ translate(scopes[override.scope], word) }}{% endif %}</td>
                                    <td>{% if override.hasSeverity %}{{ translate(severities[override.severity], word) }}{% endif %}</td>
                                    <td>{% if override.hasWordCorrection %}{{ word.original_word }} &#x2192; {{ override.wordCorrection }}{% endif %}</td>
                                    <td>
                                        {% if override.hasPosCorrection %}
                                            {% for pos in override.partsOfSpeech %}
                                                {{ translate(pos.shortName) }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>{{ gm.moment_local(override.created_at_iso) }}</td>
                                    <td>{% include 'components/user.twig' with { 'user': override.creator } %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <div class="panel-secondary-heading">Модераторская панель</div>
        <div class="panel panel-secondary">
            <div class="panel-body br-all">
                <strong>Обновлено:</strong> {{ gm.moment_local(word.updated_at_iso) }}<br/>
                <strong>Видимость:</strong> {{ gm.moment_local(word.scopeUpdatedAtIso, 'никогда') }}<br/>
                <strong>Жестокость:</strong> {{ gm.moment_local(word.severityUpdatedAtIso, 'никогда') }}<br/>
                <strong>Корректировка слова:</strong> {{ gm.moment_local(word.word_updated_at_iso, 'никогда') }}<br/>
                {% if word.dict_word %}
                    <strong>Проверено в словаре:</strong> {{ gm.moment_local(word.dict_word.updated_at_iso) }}<br/>
                {% endif %}
                {% if word.definition %}
                    <strong>Проверено определение:</strong> {{ gm.moment_local(word.definition.updated_at_iso) }}<br/>
                {% endif %}
                <strong>Мета:</strong> {{ word.meta }}
            </div>
        </div>
    {% endif %}

    {% if auth.user %}
        {% include 'main/modals/problems.twig' %}

        {% if is_moderator %}
            {% include 'main/modals/word_override.twig' %}
            {% include 'main/modals/word_relations.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% if auth.user %}
    {% set even_more_angular %}
        {% include 'main/scripts/problems.twig' %}

        {% if is_moderator %}
            {% include 'main/scripts/word_override.twig' %}
            {% include 'main/scripts/word_relations.twig' %}

            $scope.recount = () => {
                $scope.ajax({
                    url: '{{ path_for('actions.word.recount', { 'id': word.id }) }}',
                    onSuccess: $scope.postSuccess,
                    noSuccessMessage: true
                });
            };
        {% endif %}
    {% endset %}
{% endif %}
