{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% set is_moderator = can('associations', 'read') %}

{% set word_upper = word.full_display_name|upper %}
{% set title = word_upper ~ ' - Слова' %}

{% block content %}
    <div class="panel panel-primary">
        {{ lm.panel_header(_context, word_upper, {
            'breadcrumbs': [
                { 'url': path_for('main.words'), 'text': 'Слова' }
            ]
        }) }}

        <div class="panel-body">
            <p>
                <span class="label label-default" title="Язык: {{ word.language.name }}" data-toggle="tooltip">{{ word.language.name|lower }}</span>

                {% if word.primaryRelation %}
                    <span class="label label-primary" title="{{ translate(word.primaryRelation.type.name) }} слова {{ word.primaryRelation.mainWord.word|upper }}" data-toggle="tooltip"><i class="fas fa-angle-up"></i> {{ word.primaryRelation.mainWord.word }}</span>

                    {% if word.mainWord.id != word.canonical.id %}
                        <span class="label label-primary" title="Каноническое слово" data-toggle="tooltip"><i class="fas fa-angle-double-up"></i> {{ word.canonical.word }}</span>
                    {% endif %}
                {% endif %}

                {% if word.isDisabled %}
                    <span class="label label-default">{% if word.hasDisabledOverride %}<i class="fas fa-lock"></i> {% endif %}отключено</span>
                {% else %}
                    <span class="label {{ word.isPublic ? 'label-success' : 'label-primary' }}" title="{{ word.isPublic ? 'Доступно всем игрокам' : 'Доступно только тем, кто использовал слово' }}" data-toggle="tooltip">{% if word.hasApprovedOverride %}<i class="fas fa-lock"></i> {% elseif word.isPublic %}<i class="fas fa-check"></i> {% endif %}{{ word.isPublic ? 'общее' : 'личное' }}</span>
                {% endif %}

                {% if word.isMature or word.hasMatureOverride %}
                    <span class="label {{ word.isMature ? 'label-danger' : 'label-success' }}" title="{{ word.isMature ? 'Не для детей' : 'Для всех' }}" data-toggle="tooltip">{% if word.hasMatureOverride %}<i class="fas fa-lock"></i> {% endif %}{{ word.isMature ? '16+' : '0+' }}</span>
                {% endif %}

                {% if word.dict_word %}
                    {% set dw = word.dict_word %}

                    {% if dw.is_valid %}
                        <span class="label label-success" title="Есть в словаре" data-toggle="tooltip"><i class="fas fa-check"></i> словарь</span>
                    {% endif %}
                {% endif %}

                {% if definition %}
                    <span class="label label-success" title="Есть определение" data-toggle="tooltip"><i class="fas fa-check"></i> определение</span>
                {% endif %}

                {% for pos in word.partsOfSpeech %}
                    {% include 'components/part_of_speech.twig' with { 'pos': pos, 'is_override': word.hasPartsOfSpeechOverride } only %}
                {% endfor %}

                {% if word.approved_associations.any %}
                    <span class="label label-success" title="Общие ассоциации" data-toggle="tooltip"><i class="fas fa-thumbs-up"></i> {{ word.approved_associations.count }}</span>
                {% endif %}

                {% if word.dislikes.any %}
                    <span class="label label-danger" title="Не нравится" data-toggle="tooltip"><i class="fas fa-thumbs-down"></i> {{ word.dislikes.count }}</span>
                {% endif %}
            </p>

            {% if word.typo_by_me %}
                <div class="quote br-word mt-3">
                    <div class="quote-body">
                        <p>Оригинальное слово <strong>{{ word.word }}</strong> исправлено вами на слово <strong>{{ word.typo_by_me }}</strong>.</p>
                        <p>Это исправление видите <strong>только вы</strong>.</p>
                    </div>
                </div>
            {% endif %}

            {% if word.approved_associations.any %}
                <p class="b mt-3">Общие ассоциации ({{ word.approved_associations.count }}):</p>

                <ul class="vgap-2 br-word">
                    {% for assoc in word.approved_visible_associations %}
                        <li>
                            {% if word.origin_association and word.origin_association.id == assoc.id %}
                                <i class="fas fa-lightbulb dendro-color" title="Источник" data-toggle="tooltip"></i>
                            {% endif %}

                            {{ lm.association(assoc, word) }}

                            {% for user in assoc.extended_users %}
                                {{ lm.user(user) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                {% if approved_invisible_associations_str %}
                    <p>{{ approved_invisible_associations_str }}.</p>
                {% endif %}
            {% endif %}

            {% if word.not_approved_associations.any %}
                <p class="b mt-3">Личные ассоциации ({{ word.not_approved_associations.count }}):</p>

                <ul class="vgap-2 br-word">
                    {% for assoc in word.not_approved_visible_associations %}
                        <li>
                            {% if word.origin_association and word.origin_association.id == assoc.id %}
                                <i class="fas fa-lightbulb dendro-color" title="Источник" data-toggle="tooltip"></i>
                            {% endif %}

                            {{ lm.association(assoc, word) }}

                            {% for user in assoc.extended_users %}
                                {{ lm.user(user) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                {% if not_approved_invisible_associations_str %}
                    <p>{{ not_approved_invisible_associations_str }}.</p>
                {% endif %}
            {% endif %}

            {% if is_moderator and word.disabled_associations.any %}
                <p class="b mt-3">Отключенные ассоциации ({{ word.disabled_associations.count }}):</p>

                <ul class="vgap-2 br-word">
                    {% for assoc in word.disabled_associations %}
                        <li>
                            {% if word.origin_association and word.origin_association.id == assoc.id %}
                                <i class="fas fa-lightbulb dendro-color" title="Источник" data-toggle="tooltip"></i>
                            {% endif %}

                            {{ lm.association(assoc, word) }}

                            {% for user in assoc.extended_users %}
                                {{ lm.user(user) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if word.duplicate_by_me %}
                <p class="mt-3 br-word">Вы отметили, что слово <strong>{{ word.word }}</strong> дублирует слово {{ lm.word(word.duplicate_by_me) }}.</p>
            {% endif %}

            {% if auth.user %}
                <div class="mt-3">
                    <button ng-click="problemsDialog()" class="btn btn-default"><i class="fas fa-exclamation-triangle danger-color mr-1"></i> Что-то не так!</button>

                    {% if is_moderator %}
                        <button ng-click="overrideDialog()" class="btn btn-default ml-2"><i class="fas fa-wrench mr-1"></i> Исправить</button>

                        <button ng-click="relationsDialog()" class="btn btn-default ml-2"><i class="fas fa-link action-color mr-1"></i> Связи</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="panel-secondary-heading">Что это?</div>
    <div class="panel panel-secondary">
        <div class="panel-body">
            {% if definition %}
                {% for def_entry in definition.entries %}
                    <p class="br-word"><strong>{{ word.word|upper }}</strong>{% if definition.entries|length > 1 %}<sup>{{ loop.index }}</sup>{% endif %}{% if def_entry.partOfSpeech %} <i class="gray-9 ml-1">{% include 'components/part_of_speech.twig' with { 'pos': def_entry.partOfSpeech, 'bare': true, 'short': true, 'lang': definition.language.code } only %}</i>{% endif %}</p>

                    {% if def_entry.definitions|length == 1 %}
                        <p>{{ def_entry.definitions[0] }}</p>
                    {% else %}
                        <ol{% if loop.last %} class="mb-0"{% endif %}>
                            {% for def in def_entry.definitions %}
                                <li>{{ def }}</li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p class="i">Определение отсутствует.</p>
            {% endif %}
        </div>
        <div class="panel-footer">
            <i class="fas fa-info-circle"></i> <a href="http://gramota.ru/slovari/dic/?word={{ word.word|url_encode }}&all=x" class="mr-2">Грамота.ру</a> <i class="fas fa-info-circle"></i> <a href="https://ru.wiktionary.org/wiki/{{ word.word|url_encode }}" class="mr-2">Викисловарь</a> <i class="fas fa-info-circle"></i> <a href="https://www.google.com/search?q=define:{{ word.word|url_encode }}">Google</a>
        </div>
    </div>

    {% if is_moderator and word.allRelations|length > 0 %}
        <div class="panel-secondary-heading">Связи</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                {% if word.mainWord %}
                    <div class="vgap-3">
                        <p><strong>Главное слово:</strong> {{ lm.word(word.mainWord) }}</p>

                        {% if word.mainWord.id != word.canonical.id %}
                            <p><strong>Каноническое слово:</strong> {{ lm.word(word.canonical) }}</p>
                        {% endif %}
                    </div>
                {% endif %}

                {% if word.relations|length > 0 %}
                    <div class="vgap-3">
                        <p class="b">Прямые связи ({{ word.relations.count }}):</p>

                        <ul class="mb-0">
                            {% for relation in word.relations %}
                                <li>{% if relation.isPrimary %}<i class="fas fa-fist-raised action-color" title="Сильная связь" data-toggle="tooltip"></i> {% endif %}<em>{{ translate(relation.type.name) }}</em> слова {{ lm.word(relation.mainWord) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if word.counterRelations|length > 0 %}
                    <div class="vgap-3">
                        <p class="b">Обратные связи ({{ word.counterRelations.count }}):</p>

                        <ul class="mb-0">
                            {% for relation in word.counterRelations %}
                                <li>{% if relation.isPrimary %}<i class="fas fa-fist-raised action-color" title="Сильная связь" data-toggle="tooltip"></i> {% endif %}{{ lm.word(relation.word) }}: <em>{{ translate(relation.type.name) }}</em> слова {{ lm.word(relation.mainWord) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="panel-secondary-heading">Происхождение</div>
    <div class="panel panel-secondary">
        <div class="panel-body">
            <p>{{ lm.genderize(word.creator, ['Добавил/а', 'Добавил', 'Добавила']) }} {{ lm.user(word.creator, true) }} ({{ gm.moment_local(word.created_at_iso) }})</p>

            {% if word.origin_chain.any %}
                <p>Цепочка ассоциаций, которая привела к добавлению:</p>
                <p class="br-word">
                    {% for meta_assoc in word.origin_chain %}
                        {% if loop.first %}
                            {{ lm.word(meta_assoc.toWord) }}
                        {% endif %}

                        {% include 'components/association.twig' with {
                            'association': meta_assoc.association,
                            'short': true,
                            'reversed': true
                        } only %}

                        {% if meta_assoc.user %}
                            {{ lm.user(meta_assoc.user) }}
                        {% endif %}

                        {{ lm.word(meta_assoc.fromWord) }}
                    {% endfor %}
                </p>
            {% else %}
                <p class="i">Неизвестно, как возникло это слово.</p>
            {% endif %}
        </div>
    </div>

    {% if is_moderator %}
        {% if word.feedbacks|length > 0 %}
            <div class="panel-secondary-heading">Отзывы</div>
            <div class="panel panel-secondary">
                <div class="panel-body table-responsive">
                    <table id="feedbacks-table" class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Не нравится</th>
                                <th>Опечатка</th>
                                <th>Дублирует</th>
                                <th>16+</th>
                                <th>Дата</th>
                                <th>Автор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in word.feedbacks.sort %}
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>{% if feedback.isDisliked %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{% if feedback.hasTypo %}{{ feedback.typo }}{% endif %}</td>
                                    <td>{% if feedback.hasDuplicate %}{{ lm.word(feedback.duplicate) }}{% endif %}</td>
                                    <td>{% if feedback.isMature %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{{ gm.moment_local(feedback.updated_at_iso) }}</td>
                                    <td>{{ lm.user(feedback.creator) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if word.overrides|length > 0 %}
            <div class="panel-secondary-heading">Исправления</div>
            <div class="panel panel-secondary">
                <div class="panel-body table-responsive">
                    <table id="overrides-table" class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Общее</th>
                                <th>16+</th>
                                <th>Откл.</th>
                                <th>Исправление</th>
                                <th>Части речи</th>
                                <th>Дата</th>
                                <th>Автор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for override in word.overrides.sort %}
                                <tr>
                                    <td>{{ override.id }}</td>
                                    <td>{% if override.hasApproved %}{{ override.approved ? 'общее' : 'личное' }}{% endif %}</td>
                                    <td>{% if override.hasMature %}{{ override.mature ? '16+' : '0+' }}{% endif %}</td>
                                    <td>{% if override.isDisabled %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{% if override.hasWordCorrection %}{{ word.original_word }} &#x2192; {{ override.wordCorrection }}{% endif %}</td>
                                    <td>
                                        {% if override.hasPosCorrection %}
                                            {% for pos in override.partsOfSpeech %}
                                                {{ translate(pos.shortName) }}{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>{{ gm.moment_local(override.created_at_iso) }}</td>
                                    <td>{{ lm.user(override.creator) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <div class="panel-secondary-heading">Модераторская панель</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                <strong>Обновлено:</strong> {{ gm.moment_local(word.updated_at_iso) }}<br/>
                <strong>Видимость:</strong> {{ gm.moment_local(word.scopeUpdatedAtIso, 'никогда') }}<br/>
                <strong>Жестокость:</strong> {{ gm.moment_local(word.severityUpdatedAtIso, 'никогда') }}<br/>
                <strong>Корректировка слова:</strong> {{ gm.moment_local(word.word_updated_at_iso, 'никогда') }}
                {% if word.dict_word %}
                    <br/><strong>Проверено в словаре:</strong> {{ gm.moment_local(word.dict_word.updated_at_iso) }}
                {% endif %}
                {% if word.definition %}
                    <br/><strong>Проверено определение:</strong> {{ gm.moment_local(word.definition.updated_at_iso) }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if auth.user %}
        {% include 'main/modals/problems.twig' %}

        {% if is_moderator %}
            {% include 'main/modals/word_override.twig' %}
            {% include 'main/modals/word_relations.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% if auth.user %}
    {% set even_more_angular %}
        {% include 'main/scripts/problems.twig' %}

        {% if is_moderator %}
            {% include 'main/scripts/word_override.twig' %}
            {% include 'main/scripts/word_relations.twig' %}
        {% endif %}
    {% endset %}
{% endif %}
