{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% set is_moderator = can('associations', 'edit') %}

{% set word_upper = word.full_display_name|upper %}
{% set title = word_upper ~ ' - Слова' %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <header>
                <h1>{{ word_upper }}</h1>
            </header>
        </div>
        
        {{ m.breadcrumbs(_context, [
            { 'url': path_for('main.words'), 'text': 'Слова' }
        ], word_upper) }}
        
        <div class="panel-body">
            <p>
                <span class="label label-default" title="Язык: {{ word.language.name }}" data-toggle="tooltip">{{ word.language.name|lower }}</span>
                <span class="label {{ word.is_approved ? 'label-success' : 'label-primary' }}" title="{{ word.is_approved ? 'Доступно всем игрокам' : 'Доступно только тем, кто его использовал' }}" data-toggle="tooltip">{{ word.is_approved ? 'общее' : 'личное' }}</span>
                {% if word.is_mature %}
                    <span class="label label-danger" title="Не для детей" data-toggle="tooltip">16+</span>
                {% endif %}
                {% if word.approved_associations.any %}
                    <span class="label label-success" title="Общие ассоциации" data-toggle="tooltip"><i class="fas fa-thumbs-up"></i> {{ word.approved_associations.count }}</span>
                {% endif %}
                {% if word.dislikes.any %}
                    <span class="label label-danger" title="Не нравится" data-toggle="tooltip"><i class="fas fa-thumbs-down"></i> {{ word.dislikes.count }}</span>
                {% endif %}
            </p>

            {% if word.typo_by_me %}
                <div class="quote">
                    <div class="quote-body">
                        <p>Оригинальное слово <strong>{{ word.word }}</strong> исправлено вами на слово <strong>{{ word.typo_by_me }}</strong>.</p>
                        <p>Это исправление видите <strong>только вы</strong>.</p>
                    </div>
                </div>
            {% endif %}
            
            <p>Добавил/а {{ lm.user(word.creator, true) }} ({{ gm.moment_local(word.created_at_iso) }})</p>

            {% if word.approved_associations.any %}
                <p><strong>Общие ассоциации ({{ word.approved_associations.count }}):</strong></p>

                <ul class="vgap-2">
                    {% for assoc in word.approved_visible_associations %}
                        <li>
                            {{ lm.association(assoc, word) }}
                            
                            {% for user in assoc.users %}
                                {{ lm.user(user) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                {% if word.approved_invisible_associations_str %}
                    <p>{{ word.approved_invisbile_associations_str }}</p>
                {% endif %}
            {% endif %}

            {% if word.unapproved_associations.any %}
                <p><strong>Личные ассоциации ({{ word.unapproved_associations.count }}):</strong></p>

                <ul class="vgap-2">
                    {% for assoc in word.unapproved_visible_associations %}
                        <li>
                            {{ lm.association(assoc, word) }}
                            
                            {% for user in assoc.users %}
                                {{ lm.user(user) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                {% if word.unapproved_invisible_associations_str %}
                    <p>{{ word.unapproved_invisible_associations_str }}</p>
                {% endif %}
            {% endif %}

            {% if word.proposed_typos|length > 0 %}
                <p><strong>Возможные исправления:</strong></p>

                <ul class="vgap-2">
                    {% for typo, typo_items in word.proposed_typos %}
                        <li>
                            {{ typo }}
                            
                            {% for typo_item in typo_items %}
                                {{ lm.user(typo_item.creator) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if word.proposed_duplicates|length > 0 %}
                <p><strong>Возможные дубликаты:</strong></p>
                
                <ul class="vgap-2">
                    {% for dup_id, dup_items in word.proposed_duplicates %}
                        {% set duplicate = dup_items[0].duplicate %}
                        <li>
                            {{ lm.word(duplicate) }}
                            
                            {% for dup_item in dup_items %}
                                {{ lm.user(dup_item.creator) }}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if auth.user %}
                <div>
                    <a role="button" ng-click="problemsDialog()" class="btn btn-default problems" title="Пожаловаться"><i class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
        
        <div class="panel-footer">
            <i class="fas fa-info-circle"></i> <a href="http://gramota.ru/slovari/dic/?word={{ word.word|url_encode }}&all=x" class="mr-2">Грамота.ру</a> <i class="fas fa-info-circle"></i> <a href="https://ru.wiktionary.org/wiki/{{ word.word|url_encode }}">Викисловарь</a>
        </div>
    </div>

    {% if is_moderator %}
        <div class="panel-secondary-heading">Модераторская панель</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                <strong>Обновлено:</strong> {{ gm.moment_local(word.updated_at_iso) }}<br>
                <strong>...общее:</strong> {{ gm.moment_local(word.approved_updated_at_iso, 'никогда') }}<br>
                <strong>...не для детей:</strong> {{ gm.moment_local(word.mature_updated_at_iso, 'никогда') }}
            </div>
        </div>
    {% endif %}

    {% if auth.user %}
        {% include 'main/modals/problems.twig' with { 'word': word, 'word_max_length': word_max_length } %}
    {% endif %}
{% endblock %}

{% if auth.user %}
    {% set even_more_angular %}
        {% include 'main/scripts/problems.twig' with { 'word': word } only %}
    {% endset %}
{% endif %}
