{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/local_macros.twig' as lm %}

{% set is_moderator = can('games', 'read') %}
{% set no_disqus = true %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <header>
                <h1>{{ title }}</h1>
            </header>
        </div>
        
        <div class="panel-body">
            <p>
                <span class="label label-default" title="Язык: {{ game.language.name }}" data-toggle="tooltip">{{ game.language.name|lower }}</span>
            </p>

            <p>
                <strong>Участники:</strong>
                {% for player in game.extended_players %}
                    {% if player %}{% include 'components/user.twig' with { 'user': player, 'full': true } %}{% else %}компьютер{% endif %}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>

            <p>
                <strong>Даты:</strong>
                {{ gm.moment_short_range(game.created_at_iso, game.finished_at_iso, 'D MMMM Y, H:mm', 'D MMMM Y, H:mm') }}
            </p>

            <p><strong>Ходов:</strong> {{ game.turns.count }}</p>

            <p><strong>Ход игры:</strong></p>

            {% include 'components/game_log_inline.twig' with { 'game': game, 'no_game_link': true, 'show_utterance': is_moderator } only %}
        </div>
    </div>
{% endblock %}
