{% if not index or auth.user %}
    <div class="panel panel-secondary">
        <div class="panel-body center">
            <div class="mb-2">Играть с 🤖 ботами:</div>
            <div class="sidebar-links flex flex-jc-center flex-gap-2">
                <a href="https://t.me/{{ telegram_bot_name }}" class="mr-1" title="Играть в Telegram"><i class="fab fa-telegram-plane fa-2x"></i></a>
                <a href="{{ alice_url }}" class="mr-1" title="Играть в Яндекс.Алисе"><img src="{{ folders.assets }}images/alice.svg" alt=""></a>
                <a href="{{ sber_url }}" class="mr-1" title="Играть в SmartMarket (Сбер)"><img src="{{ folders.assets }}images/sber.svg" alt=""></a>
            </div>
        </div>
    </div>
{% endif %}
