{% import 'main/local_macros.twig' as lm %}

<div class="panel-secondary-heading">Игра</div>
<div class="panel panel-secondary">
    <div class="panel-body">
        <div class="vgap-2"><strong>Язык:</strong> {{ language.name }}</div>

        {% if word_count + association_count > 0 %}
            <div class="vgap-2">В игре {{ word_count_str }} и {{ association_count_str }} на этом языке.</div>

            {% if word_anniversary %}
                <div class="vgap-2">Ура, у нас {{ word_anniversary }} слов! \o/</div>
            {% endif %}
            
            {% if association_anniversary %}
                <div>Ура, у нас {{ association_anniversary }} ассоциаций! \o/</div>
            {% endif %}
        {% else %}
            <div>В игре нет слов на этом языке. :(</div>
        {% endif %}
    </div>
</div>

{% if last_added_words.any %}
    <div class="panel-secondary-heading">Новые слова</div>
    <div class="panel panel-secondary">
        <div class="panel-body">
            <ul class="mb-0 pl-3">
                {% for word in last_added_words %}
                    <li>{% include "components/word.twig" with { 'word': word } only %}{% if word.creator %} <span class="nowrap">{{ lm.user(word.creator) }}</span>{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if last_added_associations.any %}
    <div class="panel-secondary-heading">Новые ассоциации</div>
    <div class="panel panel-secondary">
        <div class="panel-body">
            <ul class="mb-0 pl-3">
                {% for assoc in last_added_associations %}
                    <li>{{ lm.association(assoc) }}{% if assoc.creator %} <span class="nowrap">{{ lm.user(assoc.creator) }}</span>{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
