{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/local_macros.twig' as lm %}

{% set can_see_all_games = can('games', 'read') %}
{% set is_moderator = can('associations', 'read') %}

{% set title = lm.association(association, null, true)|upper %}

{% block content %}
    <div class="panel panel-primary">
        {{ lm.panel_header(_context, title, { 'no_breadcrumbs': true }) }}

        <div class="panel-body">
            <p>
                <span class="label label-default" title="Язык: {{ association.language.name }}" data-toggle="tooltip">{{ association.language.name|lower }}</span>

                {% set scopeLock = association.hasScopeOverride ? '<i class="fas fa-lock"></i> ' : '' %}

                {% if association.isDisabled %}
                    <span class="label label-danger">{{ scopeLock|raw }}отключена</span>
                {% elseif association.isInactive %}
                    <span class="label label-default">{{ scopeLock|raw }}неактивная</span>
                {% elseif association.isPublic %}
                    <span class="label label-warning" title="Доступна всем игрокам" data-toggle="tooltip"><i class="fas {{ association.hasScopeOverride ? 'fa-lock' : 'fa-check' }}"></i> публичная</span>
                {% elseif association.isCommon %}
                    <span class="label label-success" title="Доступна всем игрокам" data-toggle="tooltip"><i class="fas {{ association.hasScopeOverride ? 'fa-lock' : 'fa-check-double' }}"></i> общая</span>
                {% else %}
                    <span class="label label-primary" title="Доступна только тем, кто ее использовал" data-toggle="tooltip">{{ scopeLock|raw }}личная</span>
                {% endif %}

                {% set severityLock = association.hasSeverityOverride ? '<i class="fas fa-lock"></i> ' : '' %}

                {% if association.isOffending %}
                    <span class="label label-warning" title="Неприятная или оскорбительная" data-toggle="tooltip">{{ severityLock|raw }}неприятная</span>
                {% elseif association.isMature %}
                    <span class="label label-danger" title="Для взрослых" data-toggle="tooltip">{{ severityLock|raw }}16+</span>
                {% elseif association.hasMatureOverride %}
                    <span class="label label-success" title="Нейтральная" data-toggle="tooltip">{{ severityLock|raw }}0+</span>
                {% endif %}

                {% if turns_by_user|length > 0 %}
                    <span class="label label-success" title="Использования" data-toggle="tooltip"><i class="fas fa-thumbs-up"></i> {{ turns_by_user|length }}</span>
                {% endif %}

                {% if association.dislikes.any %}
                    <span class="label label-danger" title="Не нравится" data-toggle="tooltip"><i class="fas fa-thumbs-down"></i> {{ association.dislikes.count }}</span>
                {% endif %}
            </p>

            <p class="font-xl br-word lh-1 mb-3">
                {% include "components/word.twig" with { 'word': association.first_word, 'show_lock': is_moderator } only %}
                {% include 'components/association_sign.twig' with { 'association': association } only %}
                {% include "components/word.twig" with { 'word': association.second_word, 'show_lock': is_moderator } only %}
            </p>

            <p class="mb-3">{{ lm.genderize(association.creator, ['Добавил/а', 'Добавил', 'Добавила']) }} {{ lm.user_full(association.creator) }} ({{ gm.moment_local(association.created_at_iso) }})</p>

            {% if not association.isCanonical %}
                <p class="mb-3"><strong>Каноническая ассоциация:</strong> {{ lm.association(association.canonical) }}</p>
            {% endif %}

            {% if association.users|length > 0 %}
                <p><strong>Использована игроками:</strong></p>

                <ul class="br-word">
                    {% for user in association.users %}
                        {% set turns = turns_by_user[user.id] %}
                        <li class="vgap-1">
                            {% set full_access = can_see_all_games or user.id == auth.user.id %}
                            <div>{{ lm.user_full(user) }}{% if not full_access %} ({{ turns.count }}){% endif %}</div>
                            {% if full_access %}
                                <ul>
                                    {% for turn in turns %}
                                        <li><a href="{{ turn.game.url }}">{{ turn.game.display_name ~ ' (' ~ turn.game.turnName ~ ')' }}</a>, {{ gm.moment_local(turn.created_at_iso) }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if auth.user %}
                <div class="mt-3">
                    <button ng-click="problemsDialog()" class="btn btn-default"><i class="fas fa-exclamation-triangle danger-color mr-1"></i> Что-то не так!</button>

                    {% if is_moderator %}
                        <button ng-click="overrideDialog()" class="btn btn-default ml-2"><i class="fas fa-wrench mr-1"></i> Исправить</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_moderator %}
        {% if association.feedbacks|length > 0 %}
            <div class="panel-secondary-heading">Отзывы</div>
            <div class="panel panel-secondary">
                <div class="panel-body table-responsive">
                    <table id="feedbacks-table" class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Не нравится</th>
                                <th>16+</th>
                                <th>Дата</th>
                                <th>Автор</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in association.feedbacks.sort %}
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>{% if feedback.isDisliked %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{% if feedback.isMature %}<i class="fas fa-check"></i>{% endif %}</td>
                                    <td>{{ gm.moment_local(feedback.updated_at_iso) }}</td>
                                    <td>{{ lm.user(feedback.creator) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if association.overrides|length > 0 %}
            <div class="panel-secondary-heading">Исправления</div>
            <div class="panel panel-secondary">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="overrides-table" class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Видимость</th>
                                    <th>Жестокость</th>
                                    <th>Дата</th>
                                    <th>Автор</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for override in association.overrides.sort %}
                                    <tr>
                                        <td>{{ override.id }}</td>
                                        <td>{% if override.hasScope %}{{ scopes[override.scope]|capitalize }}{% endif %}</td>
                                        <td>{% if override.hasSeverity %}{{ severities[override.severity]|capitalize }}{% endif %}</td>
                                        <td>{{ gm.moment_local(override.created_at_iso) }}</td>
                                        <td>{{ lm.user(override.creator) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="panel-secondary-heading">Модераторская панель</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                <strong>Обновлена:</strong> {{ gm.moment_local(association.updated_at_iso) }}<br/>
                <strong>Видимость:</strong> {{ gm.moment_local(association.scopeUpdatedAtIso, 'никогда') }}<br/>
                <strong>Жестокость:</strong> {{ gm.moment_local(association.severityUpdatedAtIso, 'никогда') }}
            </div>
        </div>
    {% endif %}
    
    {% if auth.user %}
        {% include 'main/modals/problems.twig' %}

        {% if is_moderator %}
            {% include 'main/modals/association_override.twig' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% if auth.user %}
    {% set even_more_angular %}
        {% include 'main/scripts/problems.twig' %}

        {% if is_moderator %}
            {% include 'main/scripts/association_override.twig' %}
        {% endif %}
    {% endset %}
{% endif %}
