{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/local_macros.twig' as lm %}

{% set can_see_all_games = can('games', 'edit') %}
{% set is_moderator = can('associations', 'edit') %}

{% set title  = lm.association(association, null, true)|upper %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading panel-title">
            <header>
                <h1>{{ title|raw }}</h1>
            </header>
        </div>

        <div class="panel-body">
            <p>
                <span class="label label-default" title="Язык: {{ association.language.name }}" data-toggle="tooltip">{{ association.language.name|lower }}</span>
                <span class="label {{ association.is_approved ? 'label-success' : 'label-primary' }}" title="{{ association.is_approved ? 'Доступна всем игрокам' : 'Доступна только тем, кто ее использовал' }}" data-toggle="tooltip">{{ association.is_approved ? 'общая' : 'личная' }}</span>
                {% if association.is_mature %}
                    <span class="label label-danger" title="Не для детей" data-toggle="tooltip">16+</span>
                {% endif %}
                {% if association.turns_by_users|length > 0 %}
                    <span class="label label-success" title="Использования" data-toggle="tooltip">
                        <i class="fas fa-thumbs-up"></i> {{ association.turns_by_users|length }}
                    </span>
                {% endif %}
                {% if association.dislikes.any %}
                    <span class="label label-danger" title="Не нравится" data-toggle="tooltip">
                        <i class="fas fa-thumbs-down"></i> {{ association.dislikes.count }}
                    </span>
                {% endif %}
            </p>

            <p class="font-xl">
                {% include "components/word.twig" with { 'word': association.first_word } only %}
                {% include 'components/association_sign.twig' with { 'association': association } only %}
                {% include "components/word.twig" with { 'word': association.second_word } only %}
            </p>

            <p>Добавил/а {{ lm.user(association.creator, true) }} ({{ gm.moment_local(association.created_at_iso) }})</p>

            <p><strong>Использована игроками:</strong></p>
            
            <ul>
                {% for user_id, turns in association.turns_by_users %}
                    <li class="vgap-1">
                        {% set full_access = can_see_all_games or user_id == auth.user.id %}
                        <div>{{ lm.user(association_users[user_id], true) }}{% if not full_access %} ({{ turns.count }}){% endif %}</div>
                        {% if full_access %}
                            <ul>
                                {% for turn in turns %}
                                    <li><a href="{{ turn.game.url }}">{{ turn.game.display_name }}</a>, {{ gm.moment_local(turn.created_at_iso) }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            
            {% if auth.user %}
                <div>
                    <a role="button" ng-click="problemsDialog()" class="btn btn-default problems" title="Пожаловаться"><i class="fas fa-exclamation-triangle"></i></a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_moderator %}
        <div class="panel-secondary-heading">Модераторская панель</div>
        <div class="panel panel-secondary">
            <div class="panel-body">
                    <strong>Последнее обновление:</strong> {{ gm.moment_local(association.updated_at_iso) }}<br>
                    <strong>...статуса «общая» (approved):</strong> {{ gm.moment_local(association.approved_updated_at_iso) }}<br>
                    <strong>...статуса «не для детей» (mature):</strong> {{ gm.moment_local(association.mature_updated_at_iso) }}
            </div>
        </div>
    {% endif %}
    
    {% if auth.user %}
        {% include 'main/modals/problems.twig' with { 'association': association, 'word_max_length': word_max_length } %}
    {% endif %}
{% endblock %}

{% if auth.user %}
    {% set even_more_angular %}
        {% include 'main/scripts/problems.twig' with { 'association': association } only %}
    {% endset %}
{% endif %}
