{% spaceless %}
    {% import 'main/local_macros.twig' as lm %}

    {% set sign %}{% include 'components/association_sign.twig' %}{% endset %}

    {% if association %}
        {% set is_visible = not association.isReal or association.is_visible_for_me %}
        {% set no_link = no_link or just_text or not is_visible %}

        {% if by_word and association.getFirstWord.id != by_word.id %}
            {% set first = association.getSecondWord %}
            {% set second = association.getFirstWord %}
        {% else %}
            {% set first = association.getFirstWord %}
            {% set second = association.getSecondWord %}
        {% endif %}

        {% set linkClasses = [] %}
        {% set textClasses = [] %}

        {% if short %}
            {% set linkClasses = linkClasses|merge(['assoc-arrow']) %}
        {% endif %}

        {% if no_link or association.isDisabledByOverride %}
            {% set linkClasses = linkClasses|merge(['inactive']) %}
            {% set textClasses = textClasses|merge(['inactive']) %}
        {% endif %}

        {% if not no_link and association.isReal %}<a href="{{ association.url }}"{% if linkClasses|length > 0 %} class="{{ linkClasses|join(' ') }}"{% endif %}>{% elseif not just_text %}<span{% if textClasses|length > 0 %} class="{{ textClasses|join(' ') }}"{% endif %}>{% endif %}{% if not short and not headless %}{{ association.isReal ? first.display_name : lm.word(first) }} {% endif %}{% if not headless %}{{ sign }}{% endif %}{% if not short %} {{ association.isReal ? second.display_name : lm.word(second) }}{% endif %}{{ addendum }}{% if not no_link and association.isReal %}</a>{% elseif not just_text %}</span>{% endif %}
    {% else %}{{ sign }}{% endif %}
{% endspaceless %}
