<span ng-repeat="word in {{ history }}">
    <span ng-if="word.association"><a class="assoc-arrow" ng-href="{{'{{word.association.url}}'}}">{{'{{word.is_native ? (word.association.is_public ? "&#x21C9;" : "&#x2192;") : "&#8605;"}}'}}</a></span>

    <span ng-if="!$first && !word.is_ai && !word.association && {{ history }}[$index - 1].is_ai" class="assoc-arrow--dimmed">&#x21E2;</span>

    <span class="label turn-label" ng-class="[{true:'mr-1'}[!$last && ((word.is_ai && {{ history }}[$index + 1].is_ai) || (!word.is_ai && !{{ history }}[$index + 1].association))], {1:'label-info', 2:'label-success', 3:'label-warning', 4:'label-danger'}[word.is_ai ? 1 : (word.id ? 2 : (word.is_valid ? 3 : 4))]]"><a ng-if="word.url" ng-href="{{'{{word.url}}'}}" ng-bind="word.display_name ? word.display_name : word.word" {% include 'components/original_word_title.twig' with {'word': 'word'} only %}></a><span ng-if="!word.url" ng-bind="word.word"></span></span>
</span>
