{% set raw = raw ?? 'undefined POS' %}
{% if bare %}
    {% if short and pos %}
        <span title="{{ translate(pos.name) }}" data-toggle="tooltip">{{ translate(pos.shortName) }}</span>
    {% else %}
        {{ translate(pos ? pos.name : raw) }}
    {% endif %}
{% elseif pos %}
    <span class="label {{ pos.isGood ? 'label-success' : (pos.isBad ? 'label-warning' : 'label-danger') }}">{% if is_override %}<i class="fas fa-lock"></i> {% endif %}{{ translate(short ? pos.shortName : pos.name) }}</span>
{% else %}
    <span class="label label-danger">{{ translate(raw) }}</span>
{% endif %}
