<div class="panel" ng-cloak>
    <div class="panel-body">
        <div class="mb-0">
            <div ng-if="demo.history.length > 1" class="br-word mb-2 flex flex-wrap flex-h-gap-1 flex-v-gap-1 flex-ai-center">
                {% include 'components/history.twig' with { 'history': 'demo.history'} only %}
            </div>

            <div ng-if="demo.loading">
                🤖 Компьютер думает...
            </div>

            <div ng-if="demo.isBroken">
                Нет слов на языке {{ language.name }}, демо-игра невозможна. Пожалуйста, <a href="javascript:void(0);" ng-click="signIn()">войдите</a> или <a href="javascript:void(0);" ng-click="signUp()">зарегистрируйтесь</a>.
            </div>

            <div ng-if="demo.word" class="mt-1">
                <span ng-show="!demo.word.association">🤖 Компьютер говорит новое слово:</span>
                <span ng-show="demo.word.association">В ответ на <span class="label turn-label label-success"><a ng-href="{{'{{demo.prevWord().url}}'}}" ng-bind="demo.prevWord().word"></a></span> 🤖 компьютер говорит:</span>
                <span class="label br-word label-info turn-label">
                    <a ng-href="{{'{{demo.word.url}}'}}" ng-bind="demo.word.word"></a>
                </span>
            </div>

            <div class="col-md-6 col-xs-12 mt-2 ph-0" ng-if="demo.word">
                <form autocomplete="off">
                    <div class="form-group mb-2">
                        <div class="input-group mt-2">
                            <input id="demoNextWord" ng-model="demo.input" class="form-control" maxlength="{{ word_max_length }}" placeholder="Ваше слово" data-focus required />

                            <span class="input-group-btn">
                                <button type="submit" ng-click="demo.send()" class="btn btn-success ajax-button" ng-disabled="!demo.input || demo.loading || demo.saving"><i class="fas fa-spinner fa-lg fa-spin ajax-button-spinner" ng-show="demo.saving"></i><span ng-hide="demo.saving">Отправить</span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xs-12 ph-0" ng-show="!demo.loading && !demo.isBroken">
                <div class="alert alert-danger alert-dismissable fade in mt-2">
                    <a href="javascript:void(0)" class="close" data-hide="alert" aria-label="close">&times;</a>
                    <div ng-bind-html="demo.alertError|rawHtml"></div>
                </div>

                <div class="mt-2">
                    <button ng-click="demo.skip()" class="btn btn-default" ng-disabled="demo.loading || demo.saving" id="skip"><i class="fas fa-forward action-color mr-1"></i> Другое слово</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" ng-show="demo.word" ng-cloak>
    <div class="panel-body">
        {% include 'main/includes/demo_warning.twig' %}
    </div>
</div>
