{% extends 'main/layout.twig' %}

{% set no_admin_link = not auth.user.isAdmin %}

{% set no_social = true %}
{% set sidebar = true %}

{% block content %}
    <style>
        @media (max-width: 767px) {
            .small-mt {
                margin-top: 1rem;
            }
        }
    </style>
    <div class="small-mt" style="text-align: center; margin-bottom: 1rem; background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); border-radius: 10px; padding-top: 5px; padding-bottom: 5px; text-wrap: balance">
        <a href="https://t.me/GPToid_Bot?start=associ1" style="color: white; text-decoration: none">
            Общайтесь с ChatGPT легко и просто!<br />
            <b>GPToid</b> — Телеграм-бот от создателя Ассоциаций
        </a>
    </div>
    {% block inner_content %}{% endblock %}
{% endblock %}

{% set more_angular %}
    {% if not debug %}
        $scope.postSuccess = (data) => {
            reloadWindow();
        };
    {% endif %}

    $scope.moreSignUpFields = (obj) => {
        obj.age = $('#signUpForm').find('#su_age').val();
        return obj;
    };

    $scope.reloadElement = (url, id, errorMessage) => {
        $scope.ajax({
            method: 'get',
            url: url,
            noSuccessMessage: true,
            onSuccess: (data) => {
                let compiled = $scope.compile(data);

                $('#' + id).html(compiled);
                $scope.updateUi();
            },
            onError: () => {
                $('#' + id).html('Failed to reload \'' + id + '\' element, url = ' + url + '.');
            }
        });
    };

    $scope.reloadLanguageStats = () => {
        $scope.reloadElement(
            '{{ path_for('main.chunks.stats.language') }}',
            'language-stats'
        );
    };

    $scope.reloadLatestWords = () => {
        $scope.reloadElement(
            '{{ path_for('main.chunks.latest.words') }}',
            'latest-words'
        );
    };

    $scope.reloadLatestAssociations = () => {
        $scope.reloadElement(
            '{{ path_for('main.chunks.latest.associations') }}',
            'latest-associations'
        );
    };

    $scope.reloadSidebar = () => {
        $scope.reloadLanguageStats();
        $scope.reloadLatestWords();
        $scope.reloadLatestAssociations();
    };

    $scope.reloadSidebar();

    // load auto chunks
    $('.deferred-load.auto-chunk').each((index, element) => {
        let url = '{{ path_for('main.chunks.generic') }}';

        const queryStr = paramsToString(objToArray(element.dataset));

        if (queryStr.length > 0) {
            url += '?' + queryStr;
        }

        $scope.reloadElement(url, element.id);
    });

    {{ even_more_angular }}
{% endset %}

{% block more_js %}
    <script src="{{ folders.local }}js/main.js"></script>

    {{ even_more_js }}
{% endblock %}
