{% macro association(assoc, by_word = null, no_link = false, just_text = false) %}{% include 'components/association.twig' with { 'association': assoc, 'by_word': by_word, 'no_link': no_link, 'just_text': just_text } only %}{% endmacro %}

{% macro word(word) %}{% if word.is_visible_for_me %}{% include 'components/word.twig' with { 'word': word } only %}{% else %}слово скрыто{% endif %}{% endmacro %}

{% macro info(text) %}<i class="fas fa-question-circle" title="{{ text }}" data-toggle="tooltip"></i>{% endmacro %}

{% macro panel_header(context, title = null, data = null) %}
    {% import 'main/macros.twig' as m %}

    {% set title = title ?? context.title %}
    {% set breadcrumbs = data.breadcrumbs ?? context.breadcrumbs %}
    {% set breadcrumbs_title = data.bc_title ?? title %}

    <div class="panel-heading panel-title">
        <header>
            <h1>
                {% if data.url %}
                    <a href="{{ data.url }}">{{ title|raw }}</a>
                {% else %}
                    {{ title|raw }}
                {% endif %}

                {% if not (data.published ?? true) %}
                    <i class="fa fa-eye-slash" title="Не опубликовано!"></i>
                {% endif %}
            </h1>
        </header>

        {% if data.buttons %}
            <div class="panel-title-buttons">
                {% for b in data.buttons %}
                    {{ b|raw }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if not data.no_breadcrumbs %}
        {{ m.breadcrumbs(context, breadcrumbs, breadcrumbs_title) }}
    {% endif %}
{% endmacro %}

{% macro genderize(gendered, options) %}
    {% set index = gendered.gender ?? 0 %}
    {{ options[index] }}
{% endmacro %}
