{% extends 'main/local_layout.twig' %}

{% import 'macros.twig' as gm %}
{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% set no_disqus = true %}

{% block inner_content %}
    <div class="panel panel-primary">
        {{ lm.panel_header(_context) }}

        {% if parts|length > 0 %}
            <div class="panel-body body-nopad">
                <ul class="nav nav-tabs" role="tablist">
                    {% for part in parts %}
                        {% set label = part.label ~ ' (' ~ part.values.count ~ ')' %}
                        {{ m.tab(part.id, label, loop.first) }}
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for part in parts %}
                        <div role="tabpanel" class="tab-pane fade{% if loop.first %} in active{% endif %}{% if not part.no_linkblock %} linkblock-big{% endif %}" id="{{ part.id }}">
                            {% for news in part.values %}
                                <div>
                                    <div>
                                        <a href="{{ news.url }}">{{ news.display_title }}</a>
                                    </div>
                                    <div ng-cloak>
                                        {{ gm.moment_local(news.published_at_iso) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="panel-body">
                По тегу <b>&laquo;{{ tag }}&raquo;</b> ничего не найдено.
            </div>
        {% endif %}
    </div>
{% endblock %}
